
@{
    ViewData["Title"] = "AboutUs";
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1>About Us</h1>
                        <p data-aos="fade-up" data-aos-delay="100">Handcrafted free templates by <a href="https://free-template.co/" target="_blank">Free-Template.co</a></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="images/img_1.jpg" alt="Free website template by Free-Template.co" class="img-fluid rounded">
            </div>
            <div class="col-md-5 ml-auto">
                <h2 class="text-primary mb-3">Purpose</h2>
                <p>HealthLink is aimed at maintaining every information regarding all blood donors, every blood group available in the blood banks which is necessary for patients who use the system and also displaying areas(Hospitals or Blood Donation Events) where the blood donation process takes place whiles helping to manage them in a better way.</p>
            </div>
        </div>
    </div>
</div>




<div class="site-section " data-aos="fade">
    <div class="container">
        <div class="row mb-5">
        </div>
        <div class="row mb-3">
            <div class="col-md-4 mx-auto">
                <h3>Objectives</h3>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 ml-auto">
                <p>The main objective of HealthLink is to develop a system that accepts as input, the names of the donors who register through the system.</p>
            </div>
            <div class="col-md-4">
                <p>Also, HealthLink allows for blood banks and blood camps to submit their information. The system also notifies registered donors during emergencies in case they are willing to help.</p>

                <ul class="ul-check list-unstyled success">
                    <li>To manage the daily transactions in blood donation</li>
                    <li>To maintain information regarding all parties involved in using the system.</li>
                    <li>To serve as a communication tool between the health facilities and donors.</li>
                    <li>To serve as a communication tool between the various health facilities and the patients.</li>
                    <li>To serve as a communication tool between the donors and patients</li>
                    <li>To educate the public</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
                <h2 class="mb-3 mt-0 text-white">Register with us to get started</h2>
                <p class="mb-0 text-white">Click on "Sign Up" to register with HealthLink.</p>
            </div>
            <div class="col-lg-4">
                <p class="mb-0"><a href="signup.html" class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>
